.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUsername {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-btn {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease background-color;
  -webkit-transition: 0.3s ease background-color;
  -moz-transition: 0.3s ease background-color;
  -ms-transition: 0.3s ease background-color;
  -o-transition: 0.3s ease background-color;
}

.tw-followcard-text {
  display: block;
}

.tw-followCard-btn:hover {
  opacity: 0.8;
}

.tw-followCard-btn.is-following {
  border: 1px solid #ccc;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-btn.is-following:hover {
  background-color: #ff747438;
  border: 1px solid red;
  color: rgb(250, 85, 85);
  transition: 0.3s ease all;
}

.tw-followCard-btn.is-following:hover .tw-followcard-text {
  display: none;
}

.tw-followCard-btn.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
